@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
}

.loading {
  visibility: hidden;
  padding: 0;
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  
}

.loading span {
  font-weight: 700;
  font-size: 24px;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
}

body,
.comment-form form,
.comments-section {
  display: flex;
}

.comment-form {
  border-right: 1px solid black;
}

.comment-form :not(:last-child) {
  margin-bottom: 15px;
}

.comment-form,
.comments-section {
  padding-left: 20px;
  padding-right: 20px;
}

.comment-form,
.comments-section {
  padding-top: 15px;
  flex: 1;
}

.comment-form form,
.comments-section {
  flex-direction: column;
}

label,
.title {
  font-weight: 700;
}

ul li {
  display: flex;
  align-items: center;
}

ul li p {
  margin-right: 10px;
}

.title,
ul li:not(:last-child) {
  margin-bottom: 30px;
}

.btn {
  height: fit-content;
  font-weight: 500;
  color: #000;
  background: lightgrey;
  border: none;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 5px;
}